.btn-pill {
  border-radius: 10rem;
}

.btn-square {
  border-radius: 0;
}

.btn .feather {
  width: 14px;
  height: 14px;
}

.btn-lg .feather {
  width: 15px;
  height: 15px;
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-color($static-white);
    @include button-color-hover($static-white);
    @include button-color-active($static-white);
  }

  .btn-outline-#{$color} {
    @include button-color-hover($static-white);
    @include button-color-active($static-white);
  }
}

@each $color, $value in $social-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
    @include button-color($static-white);
    @include button-color-hover($static-white);
  }
}

.btn-light,
.btn-white {
  @include button-color($gray-800);
  @include button-color-hover($gray-800);
}

.btn-outline-light,
.btn-outline-white {
  @include button-color-hover($gray-800);
  @include button-color-active($gray-800);
}


.btn-new {
    background-color: #40586f !important;
    border-color: #40586f!important;
    &:hover {
        background-color: #324658 !important;
        border-color: #324658!important;
    }
}

.btn-edit {
    background-color: #568fed!important;
    border-color: #568fed!important;
    &:hover {
        background-color: #4071c1!important;
        border-color: #4071c1!important;
    }
}

.btn-view {
    background-color: #f39c12!important;
    border-color: #f39c12!important;
    &:hover {
        background-color: #f1c40f!important;
        border-color: #f1c40f!important;
    }
}

.btn-save {
    background-color: #1abc9c!important;
    border-color: #1abc9c!important;
    &:hover {
        background-color: #16a085!important;
        border-color: #16a085!important;
    }

}

.btn-save-as {
    background-color: #1abc9c!important;
    border-color: #1abc9c!important;
    &:hover {
        background-color: #16a085!important;
        border-color: #16a085!important;
    }
}

.btn-search {
    background-color: $gray-400!important;
    border-color: $gray-500!important;
    &:hover {
        background-color: $gray-600!important;
    }
}
